<li><%= link_to('New Website', 'websites/new') %></li>

<h2>All Websites</h2>

<% @websites.each do |web| %>
  <ul>
    <li><%= link_to(web.name, web) %></li>
    <li><%= link_to('Edit', "websites/#{web.id}/edit") %>
    <li><%= link_to('Delete', @web, :method => 'delete', :data => {:confirm => 'Are you sure?'}) %></li>
  </ul>
<% end %>