@mixin vendor-prefix($name, $argument) {
  -webkit-#{$name}: #{$argument};
  -ms-#{$name}: #{$argument};
  -moz-#{$name}: #{$argument};
  -o-#{$name}: #{$argument};
  #{$name}: #{$argument};
}

body {
  background-color: #cccccc;
  padding-top: 70px;
}

nav {
  text-align: center;
  font-size: 19px;
  padding: 0px;
}

nav a {
  color: #bbbbbb;
}

nav a:hover {
  color: #000000;
}

nav li.btn-default {
  padding: 0;
  margin-top: 2px;
}

nav label {
  font-size: 14px;
}

.form-inline {
  margin-top: 40px;
}
.container {
  background-color: #222222;
  color: #ffffff;
  padding: 8px;
  padding-left: 12px;
  border-bottom-right-radius: 15px;
}

.update {
  border: 1px;
  border-color: white;
  border-style: solid;
  border-left-width: 5px;
  border-right-width: 5px;
  margin: 5px;
  background-color: #222222;
  border-bottom-right-radius: 15px;
}

.uptitle {
  margin: 5px;
  margin-left: 10px;
}

a {
  color: #bbbbbb;
  text-decoration: none;
}
a:hover {
  color: #ffffff;
  text-decoration: underline;
}
div.form-group label {
  padding-left: 5px;
  padding-right: 10px;
}
p.form-spacer {
  padding: 40px;
}